:root{
  --color1: #f3def7;
  --color2: #EFF1F3;
  --color3: #544E61;
  --color4: #67597A;

  @media (prefers-color-scheme: dark) {
      --color1: #f3def7;
      --color2: #EFF1F3;
      --color3: #544E61;
      --color4: #67597A;
  }
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}

body{
  color: var(--color3);
  margin: 50px;
  text-align: center;

  background:
        linear-gradient(150deg, #9f82b7, transparent 30%),
        linear-gradient(330deg, #cdbef8, transparent 30%),
        linear-gradient(225deg, #cdbef8, #d9b3d7, #f2e1fa, #9f82b7);
  
  
}

button{
  background-color: var(--color2) !important;
  outline: 2px solid var(--color3);
  color: var(--color1);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover{
  background-color: var(--color3) !important;
  color: var(--color2) !important;
  outline: 2px solid var(--color3);
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

button:active, 
button:focus, 
button:focus-visible {
  outline: 2px solid var(--color3) !important;
}


/***********************************Home******************************************/
.main-section{
  margin-top: 100px;
}

.name {
  font-family: "VT323", monospace;
  width: fit-content;
  font-size: 50px;
  line-height: 1.2;
  padding: 0 5px;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

/* Animation for typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17.3ch;
  }
}

.animate-typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--color3);  /* Cursor effect */
  width: 0; /* Initially no width */
  animation: typing 2s steps(17) 0.5s forwards, blink 0.75s step-end infinite;
}

/* Optional: To make the cursor blink */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.description {
  /* opacity: 0;  */
  /* animation: fadeIn 1s ease 2.5s forwards;  */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.desc-container{
  height: 100%;
  background-color: var(--color2);
  color: #544E61;
  border-radius: 15px;
  box-shadow: 20px 10px 10px var(--color3);
  padding: 10px 20px;
  line-height: 1.5;
  font-size: 20px;
  text-align: left;
  @media (max-width: 768px) {
    font-size: 16px;
    margin-top: 30px;
    margin-left: -2.5vh

  }
  
}

.solid-lines {
  padding-left:5px;
  padding-bottom: 1px;
  background-image: linear-gradient(var(--color3) 1px, transparent 1px);
  background-size: 100% 30px;
  line-height: 30px;
  @media (max-width: 768px) {
    padding-bottom: 10px;
    background-size: 20px 22px; 
    line-height: 22px;
  }
}

.picture{
  /* border: 5px double var(--color4); */
}

.icon {
  color: var(--color3);
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.icon:hover {
  color: var(--color4);
  transform: scale(1.1)
}

/***********project section*********************/
.line{
  height: 5px;
  background: var(--color3);
  border-radius: 15px;
}
.project-section{
  height: auto;
  width: 100%;
  
}

.project-header a{
  color: var(--color3) !important;
  font-family: "Lato", sans-serif;

}

.project-header h1{
  font-family: "VT323", monospace;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 2px;
  @media (max-width: 768px) {
    font-size: 32px;
    letter-spacing: 0px;
  }
}


.project-picture{
  background-color: var(--color3);
  border-radius: 15px 0px 0px 15px;
  margin: 0;
  padding: 0;
  
}
.project-picture img{
  filter: blur(1px);
  opacity: 70%;
}

.slanted-edge {
  --p: 120px; /* control the shape (can be percentage) */
  /* height: 180px; */
  width: 50%;
  aspect-ratio: 1;
  clip-path: polygon(0 0,100% 0,calc(100% - var(--p)) 100%,0 100%);
  border-radius: 15px 0px 0px 15px;
  background: var(--color3);
}

.project-content{
  border-radius: 0px 15px 15px 0px;
  background-color: var(--color2);
  color: var(--color3);
 @media (max-width: 768px) {
    padding:15px;
    border-radius: 1rem;
  }
}

/***********************************Projects******************************************/
.project-page{
  margin-top:70px;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card-container{
  align-items: stretch;
  flex-grow: 1;
}

.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle default shadow */
  width: 100%;
  height: 100%;
  background-color: var(--color2);
}


/* Enhanced hover effect */
.card:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5)!important; /* Adds a more noticeable shadow */
  color: var(--color3)
}

/* Change Text Color on Hover */
.card:hover .card-title {
  color: var(--color3); 
}



/***********************************About******************************************/

.about-page{
  background-color: var(--color2);
  padding: 20px;
  border-radius: 15px;
}

.about-content{
  text-align: left;
}

/***********************************Blog******************************************/

.blog-page{
  margin-top: 70px;
}

.blog-box{
  background-color: var(--color2);
}

.back-arrow{
  position: fixed;
  left: 20px
}
